.filters {
	display: flex;
	flex-direction: column;
	width: 318px;
}

.dropdown {
	$self: &;
	width: 100%;
	position: relative;
	display: inline-block;

	& + & {
		margin-top: 15px;
	}

	&__toggle {
		width: 100%;
		min-height: 33px;
		display: flex;
		align-items: center;
		background-color: #80756b;
		color: white;
		padding: 10px 15px;
		font-size: 16px;
		border: none;
		cursor: pointer;
		filter: drop-shadow(11px 11px 4px rgba(0, 0, 0, 0.25));

		&:hover {
			background-color: #2980b9;
		}
	}

	&__ico {
		width: 22px;
		height: 22px;
		margin-right: 5px;
	}

	&__arrow {
		position: relative;
		margin-left: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: transform ease-in-out 0.2s;

		#{$self}--is-open & {
			transform: rotate(180deg);
		}
	}

	&__content {
		position: absolute;
		background-color: #5c6065;
		width: 100%;
		max-height: 293px;
		padding: 10px 20px;
		overflow: auto;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		z-index: 1000;
		margin-top: 3px;

		&::-webkit-scrollbar {
			width: 2px;
			height: 2px;
			border-radius: 2px;
			background-color: #ffffff4d;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 2px;
			background-color: #ffffff;
		}

		&:not(#{$self}--is-open &) {
			display: none;
		}

		a {
			color: black;
			padding: 12px 16px;
			text-decoration: none;
			display: block;

			&:hover {
				background-color: #ddd;
			}
		}
	}
}
