@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
html {
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media (max-width: 1000px) {
  html {
    font-size: 12px;
  }
}

.main {
  font-family: "Inter";
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.main--is-locked {
  overflow: hidden;
}
.main__fog {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.main__fog::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: url(../i/fog.png) center center/cover;
  animation: fog_moving 15s linear infinite;
}
.main__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main__bg--wire {
  opacity: 0.5;
}
.main__title {
  padding: calc(12 / 16 * 1rem);
  background-color: #80756b;
  border-radius: 3px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  min-height: calc(46 / 16 * 1rem);
  box-shadow: calc(11 / 16 * 1rem) calc(11 / 16 * 1rem) calc(4 / 16 * 1rem) rgba(0, 0, 0, 0.25);
  z-index: 100;
  font-weight: 700;
  font-size: calc(18 / 16 * 1rem);
  line-height: calc(18 / 16 * 1rem);
  color: #fff;
}
.main__wrapper {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  position: relative;
  padding: calc(26 / 16 * 1rem) calc(36 / 16 * 1rem);
  align-items: flex-start;
}
.main__wrapper--is-hidden {
  display: none;
}

.btn {
  background-color: #80756b;
  border: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 3px;
  padding: calc(5 / 16 * 1rem) calc(15 / 16 * 1rem);
  transition: color 0.1s ease-in-out, background-color 0.2s ease-in-out;
  filter: drop-shadow(calc(7 / 16 * 1rem) calc(18 / 16 * 1rem) calc(4 / 16 * 1rem) rgba(0, 0, 0, 0.25));
}
@media (hover: hover) {
  .btn:hover {
    color: #cc5214;
    background-color: #c6c2be;
    border-color: #c6c2be;
  }
}

.page-start {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  overflow: hidden;
  padding-top: calc(50 / 16 * 1rem);
}
.page-start--is-hidden {
  display: none;
}
.page-start__caption {
  font-size: calc(25 / 16 * 1rem);
  line-height: calc(31 / 16 * 1rem);
  text-align: center;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: calc(44 / 16 * 1rem);
}
.page-start__btn {
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  line-height: calc(30 / 16 * 1rem);
  font-size: calc(25 / 16 * 1rem);
}

.page-start-logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: calc(15 / 16 * 1rem);
  padding-right: calc(20 / 16 * 1rem);
  padding-left: calc(20 / 16 * 1rem);
}
.page-start-logo::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../i/logo_barbed_wire_2x.png);
  height: 100%;
  background-position: left;
  background-size: contain;
}

@keyframes fog_moving {
  0% {
    left: 0;
    opacity: 0.1;
  }
  15% {
    opacity: 0.6;
  }
  95% {
    opacity: 0.4;
  }
  99% {
    opacity: 0.1;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}
.left-side {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  z-index: 100;
  height: 100%;
}
.left-side__filters {
  padding: calc(12 / 16 * 1rem);
  background-color: #80756b;
  border-radius: 3px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  min-height: calc(46 / 16 * 1rem);
  box-shadow: calc(11 / 16 * 1rem) calc(11 / 16 * 1rem) calc(4 / 16 * 1rem) rgba(0, 0, 0, 0.25);
  margin-bottom: calc(60 / 16 * 1rem);
}
.left-side__control {
  font-size: calc(18 / 16 * 1rem);
  line-height: calc(18 / 16 * 1rem);
  color: #fff;
}
.left-side__control {
  transition: color 0.2s ease-in-out;
}
.left-side__control--is-active, .left-side__control:hover {
  color: #c65634;
  text-shadow: 1px 0 #c65634;
}
.left-side__filter:not(:first-child) {
  margin-left: calc(17 / 16 * 1rem);
}

.filters {
  display: flex;
  flex-direction: column;
  width: calc(290 / 16 * 1rem);
}
.filters__filter {
  width: 100%;
  position: relative;
  display: inline-block;
}
.filters__filter:not(:first-child) {
  margin-top: calc(24 / 16 * 1rem);
}

.filters-control {
  width: 100%;
  display: flex;
  align-items: center;
  height: calc(33 / 16 * 1rem);
}
@media (hover: hover) {
  .filters-control:hover .filters-control__img:not(.filters-control:hover .filters-control__img--is-hovered) {
    display: none;
  }
  .filters-control:hover .filters-control__img--is-hovered {
    display: block;
  }
  .filters-control:not(.filters-control:hover) .filters-control__img--is-hovered {
    display: none;
  }
}
.filters-control__img--is-hovered {
  display: none;
}
.filters-control__ico, .filters-control__caption {
  pointer-events: none;
}
.filters-control__ico {
  flex-shrink: 0;
  width: calc(21 / 16 * 1rem);
  height: calc(21 / 16 * 1rem);
  margin-right: calc(5 / 16 * 1rem);
}
.filters-control__caption {
  font-size: calc(18 / 16 * 1rem);
  line-height: calc(14 / 16 * 1rem);
  white-space: nowrap;
}

.scale-buttons {
  position: absolute;
  right: calc(36 / 16 * 1rem);
  bottom: calc(26 / 16 * 1rem);
  border: 1px solid #fff;
  border-radius: 3px;
  height: calc(100 / 16 * 1rem);
  width: calc(50 / 16 * 1rem);
  z-index: 100;
}
.scale-buttons__button {
  position: relative;
  width: 100%;
  height: 50%;
  color: #fff;
  background-color: #80756B;
  padding: calc(5 / 16 * 1rem) calc(15 / 16 * 1rem);
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.scale-buttons__button:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.scale-buttons__button:last-child {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
.scale-buttons__button:first-child::before, .scale-buttons__button::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  background-color: currentColor;
}
.scale-buttons__button::before {
  width: calc(2 / 16 * 1rem);
  height: calc(22 / 16 * 1rem);
}
.scale-buttons__button::after {
  width: calc(22 / 16 * 1rem);
  height: calc(2 / 16 * 1rem);
}
@media (hover: hover) {
  .scale-buttons__button:hover {
    color: #cc5214;
    background-color: #c6c2be;
  }
}

.wrapper {
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
}

.map {
  height: 100%;
}
.map__country {
  transition: fill 0.1s ease-in-out;
}
.main--is-locked .map__country {
  fill: #9f8e7e;
}
.map__camp {
  transition: opacity 0.2s ease-in-out;
}
.map__camp--is-hidden:not(.map__country--is-active .map__camp) {
  pointer-events: none;
  opacity: 0;
}
.map__camp:hover {
  cursor: pointer;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  z-index: 1000;
  border: 1px solid #ffffff;
  padding-top: calc(15 / 16 * 1rem);
  padding-bottom: calc(20 / 16 * 1rem);
  min-width: calc(800 / 16 * 1rem);
  width: calc(100vw - calc(400 / 16 * 1rem));
  height: calc(100vh - calc(52 / 16 * 1rem));
}
.modal--has-fixed-size {
  width: calc(693 / 16 * 1rem);
  height: calc(318 / 16 * 1rem);
}
.modal--is-concentration, .modal--is-prisoners, .modal--is-transit, .modal--is-labor, .modal--is-death {
  background-repeat: no-repeat;
  background-position: center;
  background-size: calc(300 / 16 * 1rem) calc(300 / 16 * 1rem);
}
.modal--is-concentration {
  background-image: url(../i/ico_camp_concentration_bg.png);
}
.modal--is-prisoners {
  background-image: url(../i/ico_camp_prisoners_bg.png);
}
.modal--is-transit {
  background-image: url(../i/ico_camp_transit_bg.png);
}
.modal--is-labor {
  background-image: url(../i/ico_camp_labor_bg.png);
}
.modal--is-death {
  background-image: url(../i/ico_camp_death_bg.png);
}
.modal::before {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: "";
  background-color: #88837e;
  opacity: 0.9;
  border-radius: inherit;
  z-index: -1;
}
.modal::after {
  position: fixed;
  content: "";
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: -1;
}
.modal__header {
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-bottom: calc(25 / 16 * 1rem);
  padding-right: calc(20 / 16 * 1rem);
  padding-left: calc(35 / 16 * 1rem);
}
.modal__close {
  position: relative;
  width: calc(21 / 16 * 1rem);
  height: calc(21 / 16 * 1rem);
  font-size: calc(21 / 16 * 1rem);
  line-height: calc(21 / 16 * 1rem);
  flex-shrink: 0;
  margin-top: calc(12 / 16 * 1rem);
  margin-left: calc(15 / 16 * 1rem);
}
@media (hover: hover) {
  .modal__close:hover::before, .modal__close:hover::after {
    background-color: #cc5214;
    opacity: 1;
  }
}
.modal__close::before, .modal__close::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  border-radius: 2px;
  opacity: 0.8;
  background-color: currentColor;
  transition: background-color 0.2s ease-in-out;
}
.modal__close::before {
  width: calc(2 / 16 * 1rem);
  height: calc(22 / 16 * 1rem);
}
.modal__close::after {
  width: calc(22 / 16 * 1rem);
  height: calc(2 / 16 * 1rem);
}
.modal__audio {
  position: relative;
  width: calc(20 / 16 * 1rem);
  height: calc(20 / 16 * 1rem);
  background-size: contain;
  transition: filter 0.2s ease-in-out;
  margin-left: auto;
  margin-top: calc(12 / 16 * 1rem);
}
@media (hover: hover) {
  .modal__audio:hover {
    filter: invert(1);
  }
}
.modal__audio:not(.modal__audio--is-active) {
  background-image: url(../i/audio-on.png);
}
.modal__audio--is-active {
  background-image: url(../i/audio-off.png);
}
.modal__audio--is-hidden {
  display: none;
}
.modal__wrapper {
  display: flex;
  flex-direction: column;
  margin-right: calc(36 / 16 * 1rem);
}
.modal__content {
  display: flex;
  text-align: center;
  padding-left: calc(35 / 16 * 1rem);
  padding-right: calc(25 / 16 * 1rem);
  margin-right: calc(30 / 16 * 1rem);
  overflow: hidden auto;
}
.modal__content:not(.modal--has-fixed-size .modal__content) {
  max-height: calc(100% - calc(75 / 16 * 1rem));
}
.modal--has-fixed-size .modal__content {
  max-height: calc(223 / 16 * 1rem);
  flex-direction: column;
}
.modal__content::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.3019607843);
}
.modal__content::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #ffffff;
}
.modal__content p {
  display: inline-block;
  font-size: calc(18 / 16 * 1rem);
  line-height: calc(23 / 16 * 1rem);
}
.modal__content p:not(:first-child) {
  margin-top: calc(20 / 16 * 1rem);
}
.modal__list {
  width: 100%;
  -moz-column-count: 2;
       column-count: 2;
  margin-left: calc(16 / 16 * 1rem);
  list-style-type: none;
  counter-reset: li;
  position: relative;
  -moz-column-fill: auto;
       column-fill: auto;
}
.modal--has-fixed-columns .modal__list {
  height: calc(calc(20 / 16 * 1rem) * 11);
}
.modal__list:not(.modal--has-fixed-columns .modal__list) {
  height: calc(calc(20 / 16 * 1rem) * 28);
}
.modal__item {
  text-align: start;
  padding-left: calc(5 / 16 * 1rem);
  display: flex;
  padding-left: calc(28 / 16 * 1rem);
}
.modal__button {
  position: relative;
  text-align: start;
  transition: color 0.2s ease-in-out;
}
@media (hover: hover) {
  .modal__button:hover {
    color: #cc5214;
  }
}
.modal__counter {
  position: absolute;
  top: 0;
  right: calc(100% + calc(5 / 16 * 1rem));
  font-variant-numeric: tabular-nums;
  counter-increment: li;
}

.modal-title {
  display: flex;
  flex-direction: column;
}
.modal-title__caption {
  font-weight: 600;
  font-size: calc(25 / 16 * 1rem);
  line-height: calc(25 / 16 * 1rem);
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
}
.modal-title__img {
  width: calc(22 / 16 * 1rem);
  height: calc(22 / 16 * 1rem);
  margin-left: calc(5 / 16 * 1rem);
}
.modal-title__wrapper {
  display: flex;
  align-items: flex-end;
}

.modal-img {
  position: sticky;
  top: 0;
  margin-bottom: auto;
  flex-shrink: 0;
}
.modal-img__item, .modal-img__caption {
  font-size: calc(12 / 16 * 1rem);
  line-height: calc(14 / 16 * 1rem);
  color: #D1DBDD;
}
.modal-img__item {
  width: calc(310 / 16 * 1rem);
  -o-object-fit: contain;
     object-fit: contain;
}
.modal-img__caption {
  display: block;
  margin-top: calc(4 / 16 * 1rem);
  text-align: left;
}

.tooltip {
  position: absolute;
  padding-left: calc(8 / 16 * 1rem);
  padding-right: calc(8 / 16 * 1rem);
  background-color: #D9D9D9;
  box-shadow: 0px 1px 4px #FFFFFF;
  z-index: 1000;
  font-size: calc(18 / 16 * 1rem);
  line-height: calc(18 / 16 * 1rem);
  pointer-events: none;
}

.moving-up {
  animation: moving-up 0.4s ease-in-out both;
}

@keyframes moving-up {
  0% {
    margin-top: 0;
    transform: translateY(calc(5 / 16 * 1rem));
    opacity: 0;
  }
  5% {
    margin-top: 0;
    transform: translateY(calc(5 / 16 * 1rem));
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */